body {
  background-color: #0eb379;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #09704c;
}

#options-container {
  margin-bottom: 20px;
}

#color {
  text-align: center;
  content-visibility: hidden;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

#container {
  width: 75vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #09704c;
  border-radius: 10px;
}

#btn-reset {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #05432d;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  color: white;
}
